body{
    font-family: 'Montserrat', sans-serif;
  }
.login{
    margin: 10px 300px 0 440px;
    width: 45%;
    height: 66%;
    background-color: #EEEEEE;
    font-size: 2em;

}
.caja_tapas{
border: 3px solid #000000;
padding: 15px;
font-size: 1em;
background-color: #F85858;
color: white;
border-radius: 2px; 
font-weight: bold;
}
#caja{
border: 2px solid #000000;
}
#btn_ingresar{
display: block;
font-weight: bold;
font-size: 1em;
margin: 20px 0 40px 58px;
padding: 6px 193px 6px 193px;
text-align: center;
background-color: #F85858;
color: white;
border: 3px solid #000000;
transition: 0.4s all;
cursor: pointer;
}
#btn_ingresar:hover{
background-color: red;
transform: scale(1.03);
}
.label_login{
margin: 30px;
display: inline;
}
#user{
    margin-left: 93px;
}
.input_login{
margin: 30px;
display: inline;
width: 280px;
font-size: 1em;
border: 2px solid #000000;
}
p{
    color:#F85858
}

@media screen and (max-width:480px){
    main{
        margin-top: 120px;
    }
    .login{
        padding: 0px;
        margin: 0px;
        width: 650px;
    }

}